/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$footer-color: $gray-light;
$footer-hover-color: $yellow;
$footer-font-family: $footer-font;
$footer-font-size: 12px;
$footer-text-transform: capitalize;
$footer-font-weight: 300;
$footer-letter-spacing: 1.5px;
$footer-font-family: $footer-font;
$footer-bg: white;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$footer-height: 50px;
$footer-vertical-padding: 10px;
$footer-horizontal-padding: 20px;
$footer-border-bottom-width: 1px;
$footer-border-bottom-color: $gray-lighter;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$footer-btn-height: 40px;
$footer-btn-bg: lightgrey;
$footer-btn-color: white;
$footer-btn-horizontal-padding: 10px;
$footer-btn-radius: 2px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$footer-profile-radius: 50%;
$footer-profile-border-color: white;
$footer-profile-border-width: 2px;

footer {
  margin-top: 100px;
  padding: 20px;
  border: none;
  font-family: $footer-font-family;
  background: $footer-bg;
  font-size: $footer-font-size;
  color: $footer-color;
  text-transform: $footer-text-transform;
  font-weight: $footer-font-weight;
  letter-spacing: $footer-letter-spacing;
  padding-left: $footer-horizontal-padding;
  padding-right: $footer-horizontal-padding;
  border-top: $footer-border-bottom-width solid $footer-border-bottom-color;
  border-bottom: $footer-border-bottom-width solid $footer-border-bottom-color;
  min-height: 0;
  transition: background 0.4s ease;
  .footer-colonne {
    margin: 10px;
    font-family: 400;
    p {
      border-bottom: $footer-border-bottom-width solid $footer-border-bottom-color;
    }
  }
  .credits {
    margin: 30px 0 10px 0;
  }
}