// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

.job-tile {
  padding: 0 20px;
  .job-header{
    padding-bottom: 20px;
  }
  .job-description {
    padding-bottom: 40px;
  }
  .job-seperator {
    border-bottom: 1px solid $gray-light;
  }
  .job-date {
    color: $gray-light;
    font-size: 0.7em;
  }
}